* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
.header {
    width: 100%;
}

.header-contact {
    width: 100%;
    height: 30px;
}

    .header-contact .contact {
        padding: 5px;
        display: flex;
        float: left;
    }

.contact #sdt {
    padding-right: 10px;
    border-right: 1px solid gray;
}

.contact #contact {
    border-right: 1px solid gray;
    padding: 0px 10px 0px 10px;
}

.contact #social-media {
    margin-left: 10px;
}

    .contact #social-media li {
        background-color: rgba(231, 130, 130, 0.65);
        display: inline;
        border: 2px solid blue;
        padding: 0px 10px 0px 10px;
    }


.login {
    float: right;
    clear: right;
}

.header-ads {
    width: 100%;
    height: 140px;
}

.logo, .ads-ip, .ads-bds {
    float: left;
}
.header .menu{
    display: block;
    margin: 0px 30px 0px 30px;
}
.menu ul li {
    display: inline;
    font-weight: bold;
    padding: 0px 8px 0px 5px;
}


.main {
    display: block;
    margin: 0px 100px 0px 100px;
    width: 100%;
}

.main .main-content{
    width: 60%;
    float: left;
}

.main .main-content .news{
    width: 70%;
    float: left;
}
.main .main-content .news img{
    width: 624px;
}

.title-news{
    color: rgb(163, 57, 49);
    padding: 10px 0px 10px 10px;
    border-left: 5px solid rgb(163, 57, 49);
    border-radius: 1%;
}
.main .other-news{
    width: 30%;
    height: 330px;
    float: left;
    font-size: 18px;
}

.main .other-news ul li{
    padding: 5px;
}

